{% extends '::base.html.twig' %}
{% block title %}Liste des Blocs HMTL{% endblock %}

{% block body -%}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">

                <h4>Vos blocs html</h4>
                <a class="create-new" href="{{ path('admin_blochtml_new') }}"><button type="button" class="btn btn-primary">Ajoutez un bloc</button></a>
            
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('admin_blochtml_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.nom }}</td>
                                <td>
                                    
                                    <a href="{{ path('admin_blochtml_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>
                                    <a href="{{ path('admin_blochtml_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                                    <a href="{{ path('admin_blochtml_show', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>

                                </td>

                            </tr>

                        {% endfor %}

                        </tbody>
    </table>
            
       
    {% endblock %}
