{% extends '::base.html.twig' %}
{% block title %}Le Bloc HMTL{% endblock %}

{% block body -%}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
        </tbody>
    </table>


        <a href="{{ path('admin_blochtml') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a>
    
        <a href="{{ path('admin_blochtml_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-primary">Modifier</button></a>
   
   {{ form(delete_form) }}

{% endblock %}
