{% extends '::base.html.twig' %}
{% block title %}Media list{% endblock %}

{% block body -%}

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titremedia</th>
                <th>Taillemedia</th>
                <th>Descriptionmedia</th>
                <th>Fichiermedia</th>
                <th>Urlmedia</th>
                <th>Altmedia</th>
                <th>Lienmedia</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_media_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titreMedia }}</td>
                <td>{{ entity.tailleMedia }}</td>
                <td>{{ entity.descriptionMedia }}</td>
                <td>{{ entity.fichierMedia }}</td>
                <td>{{ entity.urlMedia }}</td>
                <td>{{ entity.altMedia }}</td>
                <td>{{ entity.lienMedia }}</td>
                <td>{{ entity.path }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_media_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_media_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_media_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
