{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Media</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Titremedia</th>
                <td>{{ entity.titreMedia }}</td>
            </tr>
            <tr>
                <th>Taillemedia</th>
                <td>{{ entity.tailleMedia }}</td>
            </tr>
            <tr>
                <th>Descriptionmedia</th>
                <td>{{ entity.descriptionMedia }}</td>
            </tr>
            <tr>
                <th>Fichiermedia</th>
                <td>{{ entity.fichierMedia }}</td>
            </tr>
            <tr>
                <th>Urlmedia</th>
                <td>{{ entity.urlMedia }}</td>
            </tr>
            <tr>
                <th>Altmedia</th>
                <td>{{ entity.altMedia }}</td>
            </tr>
            <tr>
                <th>Lienmedia</th>
                <td>{{ entity.lienMedia }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ entity.path }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_media') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_media_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
