{% extends '::base.html.twig' %}
{% block title %}Note{% endblock %}

{% block body -%}
<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                            <h4>Les informations de votre note</h4>

                            <a href="{{ path('notes') }}">
                                <button type="button" class="btn btn-primary">Retour aux notes</button>
                            </a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Note</th>
                                            <th>Createdat</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                               
                                        <tr>
                                            <td><a href="{{ path('notes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                            <td>{{ entity.note }}</td>
                                            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                                            <td>
                                                <a href="{{ path('notes_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ path('notes_show', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            {{ form(delete_form) }}
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
{% endblock %}

