{% extends '::base.html.twig' %}
{% block title %}Liste de vos blocs menu{% endblock %}

{% block body -%}
            
    <div class="panel panel-default">   
        <div class="panel-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
            {% for entity in entities %}  
                <li {%if loop.index==1 %}class="active"{%endif%}><a href="#{{ entity.nom }}" data-toggle="tab">{{ entity.nom }}</a>
                </li>
                {%if loop.last %}<li><a href="{{ path('admin_blocmenu_new') }}">+</a></li>{%endif%}
                {% endfor %}    
            </ul>
                            
            <!-- Tab panes -->
            <div class="tab-content">
            {% for entity in entities %}
                <div class="tab-pane fade in {%if loop.index==1 %}active{%endif%}" id="{{ entity.nom }}">
                    <h5>Description : {{ entity.description }}</h5>
                                       
                        <a href="{{ path('admin_blocmenu_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                        <a href="{{ path('admin_blocmenu_edit', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>
                        <br/>


                        <a href="{{ path('admin_menu_new') }}"><button type="button" class="btn btn-primary">Ajoutez un menu</button></a>
                            <hr>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Éditer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for block in entity.menu %}
                                        <tr>
                                            <td>    
                                                <a href="{{ path('admin_menu_show', { 'id': entity.id }) }}">{{ block.nom }}</a>
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_menu_show', { 'id': entity.id }) }}"><i class="fa fa-eye"></i></a>
                                                <a href="{{ path('admin_menu_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                                                <a href="{{ path('admin_menu_show', { 'id': entity.id }) }}"><i class="fa fa-trash-o"></i></a>

                                            </td>
                                        </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                
            </div>
            {% endfor %}  
        </div>
                                        
    </div>
    {% endblock %}





