{% extends '::base.html.twig' %}
{% block title %}CSS{% endblock %}

{% block body -%}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            <h4>Les informations de vos CSS</h4>

            <a href="{{ path('admin_template') }}">
                <button type="button" class="btn btn-primary">Retour aux CSS</button>
            </a>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Contenu</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                               
                        <tr>
                            <td><a href="{{ path('admin_template_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nom }}</td>
                            <td>{{ entity.contenu }}</td>
                            <td>
                                <a href="{{ path('admin_template_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                                
                            </td>
                        </tr>
                                      
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            {{ form(delete_form) }}
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
{% endblock %}

