<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Balou - Front</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/add.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            {{ css.contenu }}
        </style>

    </head>
    
    <body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" rel="home" href="#">Balou</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% for lien in header.menu %}
                        <li><a href="{{ lien.url }}" {% if lien.url == page.url %} class="active"{% endif %}>{{ lien.nom }}</a></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
  
  <!--left-->
  <div class="col-sm-3">

        <div class="panel panel-default">
            {% for htmlLeft in htmlL.Html %}
            <div class="well">
                        {{ htmlLeft.contenu|raw }}
            </div>
            {% endfor %}
        </div>
  </div><!--/left-->

  
  <!--center-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-12">
                
                <h1 class="page-header">
                    {{ page.title }}
                </h1>

            {{ page.content|raw }}

{% for article in page.article %}
    <hr>
    <h2>
            <a href="#">{{ article.titre}}</a>
    </h2>
    <p class="lead">
        Par <a href="index.php">{{ article.auteur }}</a>
    </p>
    <p>{{ article.contenu| raw }}</p>
    <p><span class="glyphicon glyphicon-time"></span> Posté le {{ article.createdAt|date('Y-m-d') }}</p>
    <hr>
{% endfor %}

      </div> 
    </div>  

  </div><!--/center-->


<!--right-->
  <div class="col-sm-3">
        <div class="panel panel-default">
            {% for html in htmlR.Html %}
                <div class="well">
                        {{ html.contenu|raw }}
                </div>
            {% endfor %}
        </div>
  </div><!--/right-->


</div>
<!--/container-fluid-->
 
<footer>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav navbar-nav">
                    {% for lien in footer.menu %}
                        <li><a href="{{ lien.url }}" {% if lien.url == page.url %} class="active"{% endif %}>{{ lien.nom }}</a></li>
                    {% endfor %}
                    <p>Copyright &copy; Balou 2015</p>
                    </ul>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
</footer>

    <!-- script references -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/add.js') }}"></script>
        
    </body>
</html>
