{% extends '::base.html.twig' %}
{% block title %}Dashboard{% endblock %}


{% block body %} 
<p>
    <strong>Utilisateurs en ligne ({{ usersOnline|length }}) </strong>
</p>
<ul>
	{% for user in usersOnline %}
    	<li>{{ usersOnline|join(', ') }} {{ user.lastActivity|date }}</li>
    {% endfor %}
</ul>

<p>
    <strong>Nombre de pages : ({{ pages|length }}) </strong>
</p>

<p>
    <strong>Nombre de notifications : ({{ notescount|length }}) </strong>
</p>

<p>{% include 'ADesignsCalendarBundle::calendar.html.twig' %}</p>

<p>{{ notes.note }}</p>
                                                            
{% endblock %}